<p>
  <strong><%= Admin::Comment.human_attribute_name(:root) %>:</strong>
  <%= link_to @admin_comment.root, [:admin, @admin_comment.root] if @admin_comment.root %>
</p>

<p>
  <strong><%= Admin::Comment.human_attribute_name(:email) %>:</strong>
  <%= link_to_if @admin_comment.user, @admin_comment.email, [:admin, @admin_comment.user] %>
</p>

<p>
  <strong><%= Admin::Comment.human_attribute_name(:image_url) %>:</strong>
  <%= @admin_comment.image_url %>
</p>

<p>
  <strong><%= Admin::Comment.human_attribute_name(:text) %>:</strong>
  <%= @admin_comment.text %>
</p>

<p>
  <strong><%= Admin::Comment.human_attribute_name(:x) %>:</strong>
  <%= @admin_comment.x %>
</p>

<p>
  <strong><%= Admin::Comment.human_attribute_name(:y) %>:</strong>
  <%= @admin_comment.y %>
</p>

<%= image_tag @admin_comment.image_url, data: {comment_sticker: ''} %>

<hr>

<%= link_to t('scaffold.edit'), edit_admin_comment_path(@admin_comment), class: 'btn btn-default' %>
<%= link_to t('scaffold.back'), admin_comments_path, class: 'btn btn-default' %>
