<section class="ziltag_single_page">
  <article class="post_ziltag_article">
    <section class="main_content">
      <div class="btn-group switch_func" data-component="tag_or_msg">
        <button type="button" class="btn btn-default btn-sm active">樂貼</button>
        <button type="button" class="btn btn-default btn-sm">留言</button>
      </div><!-- /.switch_func -->

      <article class="c_ziltag_sticker_article" data-ziltag-mode="responsive" data-remove-ziltag="true" data-ziltag-sticker-article>
        <%= ziltag_wrapper @ziltagging.photo, @ziltagging.photo.ziltaggings, active: @ziltagging %>
        <div class="func_block">
          <ul class="list-unstyled list-inline func_block_list">
            <li><a href="#">留言</a></li>
            <li><a href="#">新增樂貼</a></li>
          </ul>
        </div><!-- /.func_block -->
      </article><!-- /.c_ziltag_sticker_article -->
      
      <h2 class="post_title"><%= @ziltagging.title %></h2>
      
      <div class="user_profile_info">

        <div class="profile_info_block">

          <div class="pull-right operation_block">
            <ul class="list-unstyled list-inline other_list">
              <li>

                <button href="#" data-container="body" data-html="true" data-toggle="popover" data-placement="top"
                data-content='
                <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=台北市內湖區瑞光路192號&z=16&output=embed&t="></iframe>
                <div class="address_block_in_popover">
                  <p class="para1">Ziltag 微廣科技總部</p>
                  <p class="para2">台北市內湖區瑞光路192號</p>
                  <ul class="list-unstyled list-inline other_list_in_popover">
                    <li><a href="#"><i class="fa fa-share"></i></a></li>
                    <li><%= collecting_button @ziltagging.post %></li>
                  </ul>
                </div>' data-component="show_popover"><i class="fa fa-map-marker"></i>
              </button>

            </li>
            <%= render 'partials/share_item' %>
            <li><%= collecting_button @ziltagging.post %></li>
          </ul>
        </div><!-- /.operation_block -->

        <div class="profile_img_block">
          <%= image_tag @ziltagging.user.avatar.thumb, class: :profile_img %>
        </div><!-- /.profile_img -->
        <div class="profile_basic">
          <div class="user_name_and_follow">
            <p class="user_name">Victor Gumdrop</p>
            <div class="follow_block">
              <%= following_button @ziltagging.user %>
            </div><!-- /.follow_block -->
          </div>
          <%= time_info @ziltagging.created_at %>
        </div><!-- /.profile_basic -->
      </div><!-- /.profile_info_block -->

    </div><!-- /.user_profile_info -->
    <div class="context_block"><%= sanitize @ziltagging.content %></div><!-- /.context_block -->
    <button class="scroll_to_top" data-component="scroll_top"><i class="fa fa-arrow-circle-up fa-2x"></i></button>
  </section><!-- /.main_content -->
</article><!-- /.post_ziltag_article -->
</section><!-- /.ziltag_single_page -->