<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description" content="Ziltag is a web plugin that helps you discuss and discover everything happens in images." />
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="Ziltag is a web plugin that helps you discuss and discover everything happens in images.">
  <meta name="twitter:site" content="@myziltag">
  <meta name="twitter:title" content="Ziltag - Turns Images into Conversation.">
  <meta name="twitter:description" content="Ziltag is a web plugin that helps you discuss and discover everything happens in images.">
  <meta name="twitter:creator" content="@myziltag">
  <meta name="twitter:image" content="<%= asset_path('social_media_logo.png') %>">
  <!-- Open Graph data -->
  <meta property="og:title" content="Ziltag - Turns Images into Conversation." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://ziltag.com/" />
  <meta property="og:image" content="<%= asset_path('social_media_logo.png') %>" />
  <meta property="og:description" content="Ziltag is a web plugin that helps you discuss and discover everything happens in images." />
  <meta property="og:site_name" content="Ziltag" />
  <title>Ziltag</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag 'dashboard', media: 'all' if Rails.env.production? %>
</head>
<body>
  <div id="dashboard"></div>
  <%= javascript_include_tag 'dashboard' %>
  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
  $.src="//v2.zopim.com/?3yHsEz5yI3mm6NOGjVx6sY1NCbwa4jdz";z.t=+new Date;$.
  type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
  </script>
  <!--End of Zopim Live Chat Script-->
</body>
</html>
