<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: 'layout__profile profile js-profile'}) do |f| %>
  <%= f.file_field :avatar, class: 'profile__avatar-input' %>
  <div class="profile__wrapper">
    <div class="profile__avatar" style="background-image:url(<%= f.object.avatar.default.url %>)"></div>
    <div class="profile__edit">
      <i class="material-icons profile__edit-icon">photo_camera</i>
      <div class="profile__edit-text">Edit</div>
    </div>
  </div>
  <div class="profile__field">
    <label class="profile__label">Username</label>
    <div class="profile__value"><%= f.object.username %></div>
  </div>
  <div class="profile__field">
    <label class="profile__label">Email</label>
    <div class="profile__value"><%= f.object.email %></div>
  </div>
  <div class="profile__field">
    <label class="profile__label">Password</label>
    <div class="profile__value">**********</div>
    <div class="profile__link">change</div>
  </div>
  <div class="hide">
    <div class="profile__field">
      <%= f.label :password, 'New password', class: 'profile__label' %>
      <%= f.password_field :password, class: 'profile__input', placeholder: '••••••••' %>
    </div>
    <div class="profile__field">
      <%= f.label :password_confirmation, 'Confirm', class: 'profile__label' %>
      <%= f.password_field :password_confirmation, class: 'profile__input', placeholder: '••••••••' %>
    </div>
  </div>
  <% if f.object.content_provider? %>
  <div class="profile__field">
    <label class="profile__label">Partner’s domain</label>
    <div class="profile__value"><%= f.object.url %></div>
    <div class="profile__link">change</div>
  </div>
  <div class="profile__field hide">
    <%= f.label :url, 'Partner’s domain', class: 'profile__label' %>
    <%= f.text_field :url, class: 'profile__input' %>
  </div>
  <div class="profile__error"><%= f.object.errors&.[](:password).first || f.object.errors&.[](:url).first %></div>
  <div class="profile__sublabel">Plugin script</div>
  <textarea rows="1" onclick="this.focus();this.select()" readonly="readonly" class="profile__script"><script src="https://<%= request.host_with_port + '/plugin.js' %>" data-ziltag="<%= f.object.box.token %>"></textarea>
  <% end %>
  <div class="profile__divider"></div>
  <div class="profile__actions">
    <%= link_to session[:back_url], class: 'profile__left' do %><i class="material-icons">arrow_back</i> back<% end %>
    <button type="submit" class="profile__right">Confirm</button>
  </div>
<% end %>