<%= content_for :full_interface do %>
  <section class="sec_user_profile" data-layout="full_interface">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="user_banner">
        <%= image_tag @user.cover_url, class: 'img-responsive user_banner_img' %>
      </div><!-- /.user_banner -->

      <div class="user_basic_info">
        <div class="col-xs-8 col-sm-8 col-md-6">
          <div class="left_zone">
            <div class="profile_img">
              <a href="#" class="img_profile_link"><%= image_tag @user.avatar_url, :class => "img_profile_tag" %></a>
            </div><!-- /.profile_img -->

          </div><!-- /.left_zone -->
        </div>
      </div><!-- /.user_basic_info -->

      <div class="row main_edit_context">
        <div class="col-sm-6 col-sm-offset-2">
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :avatar, as: :image_preview, input_html: { class: 'select_profile_file' }, wrapper_html: { class: 'hidden' } %>
            <%= f.input :cover, as: :image_preview, input_html: { class: 'select_banner_file' }, wrapper_html: { class: 'hidden' } %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password, autocomplete: "off", hint: '若你不想修改密碼，請留空', required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, hint: '我們需要你的密碼以更新你的資料', required: true %>
          </div>

          <div class="form-actions">

            <%= f.button :submit, '更新', :class => "update_profile col-sm-offset-3" %>
            <%= link_to '返回', :back, :class => "btn btn-default" %>
          </div>
        </div><!-- /.col-* -->
      </div><!-- /.row.main_edit_context -->

    <% end %>

    <div class="row other_links">
      <div class="col-sm-6 col-sm-offset-2">
        <p>覺得不開心？ <%= link_to '取消我的帳號', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete %></p>
      </div>
    </div><!-- /.other_links -->





  </section><!-- /.sec_user_profile -->

<% end %>
