<h2>更新個人資料</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :avatar, as: :image_preview %>
    <%= f.input :cover, as: :image_preview %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: '若你不想修改密碼，請留空', required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: '我們需要你的密碼以更新你的資料', required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, '更新' %>
  </div>
<% end %>

<h3>刪除帳號</h3>

<p>覺得不開心？ <%= link_to '取消我的帳號', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete %></p>

<%= link_to '返回', :back %>
