<!-- 顯示留言 -->
<script id="handlebar_comment" type="text/x-handlebars-template">
  <div class="parent_comment" data-first-message="false" style="left:{{pos_left}}px;top:{{pos_top}}px;" data-original-x="{{x}}" data-original-y="{{y}}" data-comment-user-id="{{user_id}}" data-comment-user-email="{{user_email}}" data-comment-id="{{comment_id}}">
    <span class="remove_comment hidden"><i class="fa fa-times-circle"></i></span>
    <span class="drag_comment hidden"><i class="fa fa-arrows"></i></span>
    <div class="original_author">
      <a href="{{user_name}}" class="author">
        <img src="{{user_avatar}}" class="user_profile_img" alt="">
      </a>
    </div><!-- /.original_author -->

    <div class="all_msg_block">
      <div class="triangle"></div>
      <div class="all_comments_msg">
        <ul class="list-unstyled original_msg">
          <li class="original_text" data-status="close">
            <span class="original_text">{{first_msg}}</span>
            <span class="hint_arrow"><i class="fa fa-caret-left"></i></span>
            <span class="hint_arrow hidden"><i class="fa fa-caret-down"></i></span>
          </li>
        </ul>
        <ul class="list-unstyled other_user_comments_list">
          {{#each children_comments}}
            <li data-comment-user-id="{{user.id}}" data-comment-id="{{id}}">
              <div class="user_comment_block">

                {{#if ../login_status }}
                  {{#ifCond ../user.id ../../login_user_id }}
                    <div class="user_operation">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#" class="edit_children_comment">編輯{{../login_user_id}}</a></li>
                        <li><a href="#" class="delete_children_comment">刪除</a></li>
                      </ul>
                    </div><!-- /.user_operation -->
                  {{/ifCond}}
                {{/if}}

                <div class="user_avatar">
                  {{#if user}}
                    <img src="{{user.avatar_thumb_url}}" class="user_profile_img">
                  {{else}}
                    <img src="/images/fallback/thumb_guest.png" class="user_profile_img">
                  {{/if}}

                </div>
                <div class="user_comment">
                  <span class="user_name_block">
                    {{#if user}}
                      <span class="user_name">{{user.username}}</span>
                    {{else}}
                      <span class="user_name">{{email}}</span>
                    {{/if}}

                    <span class="minutes">{{since}}</span>
                  </span>
                  <span class="user_text">{{text}}</span>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div><!-- /.all_comments_msg -->

      <div class="leave_msg_block other_comments">
        <div class="current_user">
          <% if user_signed_in? %>
            <%= image_tag current_user.avatar.thumb, class: :user_profile_img %>
          <% else %>
            <img src="/images/fallback/thumb_guest.png" class="user_profile_img">
          <% end %>
        </div>
        <% if user_signed_in? %>
        <% else %>
          <input type="text" class="leave_email" placeholder="輸入 email…">
        <% end %>
        <input type="text" class="leave_msg" placeholder="按 Enter 送出…">
        <button type="button" class="send_msg pull-right">發佈</button>
      </div><!-- /.leave_msg_block -->

    </div><!-- /.all_msg_block -->

  </div><!-- /.parent_comment -->
</script>

<!-- 新增第一個留言 -->
<script id="handlebar_comment_create" type="text/x-handlebars-template">
  <div class="parent_comment" data-first-message="true" style="left:{{pos_left}}px;top:{{pos_top}}px;" data-comment-user-id="" data-comment-user-email="" data-comment-id="">
    <span class="remove_comment"><i class="fa fa-times-circle"></i></span>
    <span class="drag_comment hidden"><i class="fa fa-arrows"></i></span>
    <div class="original_author">
      <% if user_signed_in? %>
        <a href="/users/<%= current_user.username %>" class="author">
          <%= image_tag current_user.avatar.thumb, class: :user_profile_img %>
        </a>
      <% else %>
        <a href="#" class="author">
          <img src="/images/fallback/thumb_guest.png" class="user_profile_img" alt="">
        </a>
      <% end %>

    </div><!-- /.original_author -->

    <div class="all_msg_block">
      <div class="triangle"></div>
      <div class="all_comments_msg hidden">
        <ul class="list-unstyled original_msg">
          <li class="original_text" data-status="close">
            <span class="original_text"></span>
            <span class="hint_arrow"><i class="fa fa-caret-left"></i></span>
            <span class="hint_arrow hidden"><i class="fa fa-caret-down"></i></span>
          </li>
        </ul>
        <ul class="list-unstyled other_user_comments_list">
        </ul>
      </div><!-- /.all_comments_msg -->

      <div class="leave_msg_block">
        <div class="current_user">
          <% if user_signed_in? %>
            <%= image_tag current_user.avatar.thumb, class: :user_profile_img %>
          <% else %>
            <img src="/images/fallback/thumb_guest.png" class="user_profile_img">
          <% end %>
        </div>
        <% if user_signed_in? %>
        <% else %>
          <input type="text" class="leave_email" placeholder="輸入 email…">
        <% end %>
        <input type="text" class="leave_msg" placeholder="按 Enter 送出…">
        <button type="button" class="send_msg pull-right">發佈</button>
      </div><!-- /.leave_msg_block -->

    </div><!-- /.all_msg_block -->

  </div><!-- /.parent_comment -->
</script>

<!-- 子留言 -->
<script id="handlebar_comment_children_create" type="text/x-handlebars-template">
  <li data-comment-user-id="{{user_id}}" data-comment-id="{{comment_id}}">
    <div class="user_comment_block">

      {{#if login_status}}
        <div class="user_operation">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#" class="edit_children_comment">編輯{{../login_user_id}}</a></li>
            <li><a href="#" class="delete_children_comment">刪除</a></li>
          </ul>
        </div><!-- /.user_operation -->
      {{/if}}

      <div class="user_avatar">
        <% if user_signed_in? %>
          <%= image_tag current_user.avatar.thumb, class: :user_profile_img %>
        <% else %>
          <img src="/images/fallback/thumb_guest.png" class="user_profile_img">
        <% end %>
      </div>
      <div class="user_comment">
        <span class="user_name_block">
          <span class="user_name">{{user_name}}</span>
          <span class="minutes">{{since}}</span>
        </span>
        <span class="user_text">{{user_text}}</span>
      </div>
    </div>
  </li>
</script>
