<p>
  <strong><%= Admin::Photo.human_attribute_name(:user) %>:</strong>
  <%= link_to @admin_photo.user, [:admin, @admin_photo.user] %>
</p>

<p>
  <strong><%= Admin::Photo.human_attribute_name(:title) %>:</strong>
  <%= @admin_photo.title %>
</p>

<p>
  <strong><%= Admin::Photo.human_attribute_name(:image) %>:</strong>
  <%= link_to image_tag(@admin_photo.image.thumb), @admin_photo.image_url %>
</p>

<div class="row">
  <div class="col-sm-6">
    <div class="page-header">
      <h2><%= Post.model_name.human %></h2>
    </div>
    <%= image_tag(@admin_photo.image_url, data: {sticker: '', new_post: new_admin_post_path}) %>
    <p>點擊圖片任一處新增樂貼</p>
  </div>
  <div class="col-sm-6">
    <div class="page-header">
      <h2><%= Comment.model_name.human %></h2>
    </div>
    <%= image_tag(@admin_photo.image_url, data: {comment_sticker: '', new_comment: new_admin_comment_path}) %>
    <p>點擊圖片任一處新增留言</p>
  </div>
</div>

<hr>

<%= link_to t('scaffold.edit'), edit_admin_photo_path(@admin_photo), class: 'btn btn-default' %>
<%= link_to t('scaffold.back'), admin_photos_path, class: 'btn btn-default' %>
