<article class="post_article">

  <div class="block_right text-center">
    <article class="c_ziltag_sticker_article" data-ziltag-mode="default" data-remove-ziltag="true" data-ziltag-sticker-article>
      <%= image_tag ziltagging.image_url, class: :post_image, data: {ziltag_x: ziltagging.x, ziltag_y: ziltagging.y}, "data-show-sticker": "" %>
      <a href="<%= ziltagging_path(ziltagging, format: :json) %>" data-remote="true" data-ziltag-modal>
        <%= image_tag("ziltag_sticker.png", :class => "ziltag_sticker hidden", "data-sticker": "") %>
      </a>
    </article><!-- /.c_ziltag_sticker_article_on_home -->
  </div><!-- /.block_right -->
  
  <div class="block_left">
    <time datetime="<%= ziltagging.post.created_at.to_s(:db) %>" class="datetime">發表於 <%= l ziltagging.post.created_at, format: :long %></time>
    
    <h2 class="post_title"><%= link_to ziltagging.title, ziltagging_path(ziltagging, format: :json), class: '', remote: true, data: {ziltag_modal: ''} %></h2>
    <div class="post_content_block">
      <a href="<%= ziltagging_path(ziltagging, format: :json) %>" class="post_content_link" data-remote="true" data-ziltag-modal>
        <div class="post_content">
          <%= summary ziltagging.content %>
        </div>
      </a>
    </div><!-- /.post_content_block -->
    
    <div class="post_user_profile">
      <a href="#" class="profile_link"><%= image_tag ziltagging.user.avatar.thumb, class: :user_profile_img %></a>
      <div class="follow_user_block">
        <a href="#" class="user_name"><%= ziltagging.user.username %></a><br>
        <%= following_button ziltagging.user %>
      </div><!-- /.follow_user_div -->
      
      <ul class="list-unstyled list-inline pull-right other_funcs">
        <li class="share_item">
          <a href="#" class="btn_share"><i class="fa fa-share"></i></a>
          <div class="share_zone hidden" data-share-zone>
            <%= image_tag("other_triangle.png", :class => "other_triangle") %>
            <ul class="list-unstyled list-inline share_list">
              <li><a href="#" class="icon_share fb"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#" class="icon_share twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li><a href="#" class="icon_share tumblr"><i class="fa fa-tumblr-square fa-2x"></i></a></li>
              <li><a href="#" class="icon_share googleplus"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
          </div><!-- /.share_zone -->
        </li>
        <li>
          <%= collecting_button ziltagging.post %>
        </li>
      </ul><!-- /.other_funcs -->
    </div><!-- /.post_user_profile -->
  </div><!-- /.block_left -->
</article><!-- /.post_article -->