<article class="post_ziltag_article">

  <section class="main_content">

    <div class="btn_cross text-right">
      <a href="#" class="btn_remove" data-btn-remove><i class="fa fa-remove fa-2x"></i></a>
    </div><!-- /.btn_cross -->

    <div class="btn-group switch_func" data-component="tag_or_msg">
      <button type="button" class="btn btn-default btn-sm active">樂貼</button>
      <button type="button" class="btn btn-default btn-sm">留言</button>
    </div><!-- /.switch_func -->

    <article class="c_ziltag_sticker_article" data-ziltag-mode="responsive" data-remove-ziltag="true" data-ziltag-sticker-article>

      <% if type == :page %>
        <%= ziltag_wrapper @ziltagging.photo, @ziltagging.photo.ziltaggings, active: @ziltagging, interact: :replace %>
      <% end %>

      <div class="func_block">
        <ul class="list-unstyled list-inline func_block_list">
          <li><a href="#">留言</a></li>
          <li><a href="#">新增樂貼</a></li>
        </ul>
      </div><!-- /.func_block -->
    </article><!-- /.c_ziltag_sticker_article -->

    <h2 class="post_title" data-post-title>

      <% if type == :page %>
        <%= @ziltagging.title %>
      <% end %>

    </h2>

    <div class="user_profile_info">

      <div class="profile_info_block">

        <div class="pull-right operation_block">

          <ul class="list-unstyled list-inline other_list">
            <li>

              <button href="#" data-html="true" data-toggle="popover" data-placement="top"
                data-content='
                <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=台北市內湖區瑞光路192號&z=16&output=embed&t="></iframe>
                <div class="address_block_in_popover">
                  <p class="para1">Ziltag 微廣科技總部</p>
                  <p class="para2">台北市內湖區瑞光路192號</p>
                  <ul class="list-unstyled list-inline other_list_in_popover">
                    <li><a href="#"><i class="fa fa-share"></i></a></li>
                    <li data-precious-block>

                      <% if type == :page %>
                        <%= collecting_button @ziltagging.post %>
                      <% end %>

                    </li>
                  </ul>
                </div>' data-component="show_popover"><i class="fa fa-map-marker"></i>
              </button>

            </li>
            <%= render 'partials/share_item' %>
            <li data-precious-block>
              <% if type == :page %>
                <%= collecting_button @ziltagging.post %>
              <% end %>
            </li>
          </ul>
        </div><!-- /.operation_block -->

        <div class="profile_img_block">

          <% if type == :page %>
            <%= image_tag @ziltagging.user.avatar.thumb, class: :profile_img %>
          <% end %>
          <% if type == :modal %>
            <img class="profile_img" data-user-avatar>
          <% end %>

        </div><!-- /.profile_img_block -->
        <div class="profile_basic">
          <div class="user_name_and_follow">
            <p class="user_name" data-user-username>Victor Gumdrop</p>
            <div class="follow_block" data-follow-block>

              <% if type == :page %>
                <%= following_button @ziltagging.user %>
              <% end %>

            </div><!-- /.follow_block -->
          </div>

          <% if type == :page %>
            <%= time_info @ziltagging.created_at %>
          <% end %>
          <% if type == :modal %>
            <time datetime="" class="datetime">發表於 <span data-dreated-at></span></time>
          <% end %>

        </div><!-- /.profile_basic -->
      </div><!-- /.profile_info_block -->
    </div><!-- /.user_profile_info -->

    <div class="context_block" data-post-content>

      <% if type == :page %>
        <%= sanitize @ziltagging.content %>
      <% end %>

    </div><!-- /.context_block -->
    <button class="scroll_to_top" data-component="scroll_top"><i class="fa fa-arrow-circle-up fa-2x"></i></button>
  </section><!-- /.main_content -->
</article><!-- /.post_ziltag_article —>
