<div
  class="comment-notification"
  style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; width: 670px; box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25); margin: 10px auto; padding: 0; border: 0;">
  <div class="comment-notification__header" style="font-size: normal; line-height: 66px; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; height: 66px; margin: 0; padding: 0; border: 0;">
    <%= image_tag 'logo.png', class: 'comment-notification__logo', style: 'font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: middle; box-sizing: border-box; margin: 0; padding: 0;
    border: 0; margin-left: 20px;' %>
    <span
      class="comment-notification__title mdl-typography--font-medium"
      style="font-size: 20px; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: middle; box-sizing: border-box; padding: 0; border: 0; margin-left: 100px;">Comment Notification</span>
    <%= image_tag @user.avatar.thumb.url, class: 'comment-notification__user-avatar', style: 'font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: middle; box-sizing: border-box;
    border-radius: 50%; padding: 0; border: 0; margin-left: 150px;' %>
  </div>
  <hr style="box-sizing: border-box;">
  <div class="comment-notification__body" style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; margin: 30px 90px; padding: 0; border: 0;">
    <div class="comment-notification__hello-text" style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; margin: 0 0 10px; padding: 0; border: 0;">
      Dear
      <span style="font-weight: bold; font-size: normal; line-height: normal; font-style: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; margin: 0; padding: 0; border: 0;"><%= @user.username %></span>,<br style="box-sizing: border-box;">There is a new comment on your tag!
    </div>
    <%= image_tag @comment.ziltag.share_image, class: 'comment-notification__image', style: 'font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; width:
    100%; margin: 0; padding: 0; border: 0;' %>
    <div class="comment-notification__comment-info" style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; margin: 20px 0; padding: 0; border: 0;">
      <div
        class="comment-notification__comment-left"
        style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; width: 40px; margin: 0; padding: 0; border: 0; float: left;">
        <%= image_tag @comment.user.avatar.thumb.url, class: 'comment-notification__comment-avatar', style: 'font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing:
        border-box; border-radius: 50%; margin: 0; padding: 0; border: 0;' %>
      </div>
      <div
        class="comment-notification__comment-right"
        style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; margin: 0 0 0 70px; padding: 0; border: 0;">
        <div
          class="comment-notification__comment-username mdl-typography--font-medium"
          style="font-size: 14px; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; display: inline; color: #249AFF; margin: 0; padding: 0; border: 0;"><%= @comment.username %></div>
        <div
          class="comment-notification__comment-time mdl-typography--font-regular"
          style="font-size: 10px; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; display: inline; margin: 0; padding: 0; border: 0;"><%= time_ago_in_words @comment.created_at %></div>
        <div
          class="comment-notification__comment-content"
          style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; margin: 0 0 20px; padding: 0; border: 0;"><%= @comment.content %></div>
      </div>
      <div class="comment-notification__reply" style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; margin: 0; padding: 0; border: 0;">
        <%= link_to photo_url(slug: @comment.ziltag.photo.slug, ziltag_slug: @comment.ziltag.slug), style: 'color: inherit; text-decoration: none;' do %>
        <%= image_tag 'reply.png', style: 'font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; margin: 0; padding: 0; border: 0;' %>
        Reply
        <% end %>
      </div>
      <hr style="box-sizing: border-box;">
      <div
        class="comment-notification__footer"
        style="font-size: 12px; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; color: rgba(0, 0, 0, 0.54); height: 60px; margin: 0; padding: 0; border: 0;">
        <span class="comment-notification__footer-left" style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: middle; box-sizing: border-box; margin: 0; padding: 0; border: 0;">© Ziltag Inc., 2015. All Rights Reserved.</span>
        <span
          class="comment-notification__footer-right"
          style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: middle; box-sizing: border-box; margin: 0; padding: 0; border: 0; margin-left: 20px;">Bring Ziltag to your website! Join
          <%= link_to 'Ziltag Pro', root_url, style: 'font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; color: #4A90E2; margin: 0; padding: 0; border: 0;' %>.</span>
      </div>
    </div>
  </div>
</div>