<%= content_for :full_interface do %>
  <%= render :partial => "users/partials/sec_user_profile" %>
<% end %>

<section class="section_post">
  <% @posts.each do |post| %>
    <article class="post_article">
  
      <div class="block_right text-center">
        <article class="c_ziltag_sticker_article" data-ziltag-mode="default" data-remove-ziltag="true" data-ziltag-sticker-article="">
          <%= ziltag_thumb post.ziltaggings.first %>
        </article><!-- /.c_ziltag_sticker_article_on_home -->
      </div><!-- /.block_right -->
      
      <div class="block_left">
        <%= time_info post.created_at %>
        
        <h2 class="post_title"><%= link_to post.title, ziltagging_path(post.ziltaggings.first, format: :json), class: '', remote: true, data: {ziltag_modal: ''} %></h2>
        <div class="post_content_block">
          <a href="<%= ziltagging_path(post.ziltaggings.first, format: :json) %>" class="post_content_link" data-remote="true" data-ziltag-modal>
            <div class="post_content">
              <%= summary post.content %>
            </div>
          </a>
        </div><!-- /.post_content_block -->
        
        <div class="post_user_profile">
          <%= link_to post.user, class: 'profile_link' do %>
            <%= image_tag post.user.avatar.thumb, class: :user_profile_img %>
          <% end %>
          <div class="follow_user_block">
            <%= link_to post.user.username, post.user, class: 'user_name' %>
            <%= following_button post.user %>
          </div><!-- /.follow_user_div -->
          
          <ul class="list-unstyled list-inline pull-right other_funcs">
            <%= render 'partials/share_item' %>
            <li>
              <%= collecting_button post %>
            </li>
          </ul><!-- /.other_funcs -->
        </div><!-- /.post_user_profile -->
      </div><!-- /.block_left -->
      
      <!-- start:輪播在此 -->
      <div class="slide_show_slick">
        <div class="show_slick">
          <% post.ziltaggings.each do |ziltagging| %>
            <div>
              <%= link_to '#', data: {image_url: ziltagging.photo.image_url, x: ziltagging.x, y: ziltagging.y}, class: 'square_image' do %>
                <%= image_tag ziltagging.photo.image.thumb.url %>
              <% end %>
            </div>
          <% end %>
        </div><!-- /.show_slick -->
      </div><!-- /.slide_show_slick -->
      <!-- end:輪播在此 -->
      
    </article>
  <% end %>
  
  
  <%= render :partial => "/partials/post_article", collection: @ziltaggings, as: :ziltagging %>
</section><!-- /.section_post -->