<div class="cover cover--blur"></div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), method: :patch, html: {class: 'action'}) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <div class="action__title">Change your password.</div>
  <div class="action__content">
    <div class="action__text-field text-field">
      <i class="text-field__icon material-icons">lock</i>
      <%= f.password_field :password, class: 'text-field__input', placeholder: 'New password', required: true, autofocus: true %>
    </div>
    <div class="action__text-field text-field">
      <i class="text-field__icon material-icons">lock</i>
      <%= f.password_field :password_confirmation, class: 'text-field__input', placeholder: 'Confirm your new password', required: true %>
    </div>
    <div class="action__bar">
      <%= f.submit 'Submit', class: 'action__right' %>
    </div>
    <% unless resource.errors.blank? %><div class="action__error"><%= resource.errors.messages.values.flatten.first %></div><% end %>
  </div>
<% end %>