<header style="box-shadow: none; border-bottom: 1px solid rgba(0, 0, 0, 0.12)" class="mdl-layout__header">
  <div style="padding: 0 30px" class="mdl-layout__header-row">
    <span class="mdl-layout-title"><%= link_to image_tag('logo.png'), root_path %></span>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-layout-spacer"></div>
    <% if action_name != 'username' %>
    <% if user_signed_in? %>
    <button id="profile-menu" class="mdl-button mdl-js-button mdl-button--icon">
      <%= image_tag current_user.avatar.thumb.url, width: '100%' %>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="profile-menu">
      <%= link_to t(:settings), edit_user_registration_path, class: 'mdl-menu__item' %>
      <%= link_to t(:logout), destroy_user_session_path, method: :delete, class: 'mdl-menu__item' %>
    </ul>
  <% else %>
    <nav class="mdl-navigation">
      <%= link_to 'Sign in', new_user_session_path, class: 'mdl-navigation__link' %>
    </nav>
    <% end %>
    <% end %>
  </div>
</header>