<div class="jumbotron jumbotron--center">
  <div class="jumbotron__title">WELCOME</div>
  <div class="jumbotron__subtitle">Great to have you here. Please join us.</div>
  <div class="jumbotron__summary">You can enjoy tons of different possibilities with us. Fill the missing info for anything within a photo, write a post, or simply leave a comment…everything.</div>
  <div class="jumbotron__spacing"></div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'jumbotron__form'}) do |f| %>
    <%= f.hidden_field :type %>
    <div class="jumbotron__field mdl-textfield mdl-js-textfield">
      <i class="material-icons">email</i>
      <%= f.email_field :email, class: 'mdl-textfield__input' %>
      <label class="mdl-textfield__label" for="user_email">Email</label>
    </div>
    <%= f.submit 'Sign up', class: 'mdl-button mdl-js-button mdl-color--indigo-500 mdl-color-text--white' %>
  <% end %>
  <div class="jumbotron__form-summary">Signing up means you’re ok with Ziltag’s <%= link_to t(:'term_of_service'), term_of_service_path%> and <%= link_to t(:'privacy_policy'), privacy_policy_path %>.</div>
  <div class="jumbotron__spacing"></div>
  <div class="jumbotron__bottom">Already have an account? <%= link_to 'Login', controller_name == 'photos' ? url_for(params.except(:sign_up)) : new_session_path(resource_name) %></div>
</div>