<div class="page-header">
  <h1><%= Admin::Ziltagging.model_name.human %> <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-plus', title: t('scaffold.new')), new_admin_ziltagging_path, class: 'btn btn-success btn-lg' %></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= Admin::Ziltagging.human_attribute_name(:post) %></th>
      <th><%= Admin::Ziltagging.human_attribute_name(:photo) %></th>
      <th><%= Admin::Ziltagging.human_attribute_name(:x) %></th>
      <th><%= Admin::Ziltagging.human_attribute_name(:y) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_ziltaggings.each do |admin_ziltagging| %>
      <tr>
        <td><%= admin_ziltagging.post %></td>
        <td><%= admin_ziltagging.photo %></td>
        <td><%= admin_ziltagging.x %></td>
        <td><%= admin_ziltagging.y %></td>
        <td>
          <%= link_to icon_tag(:search), admin_ziltagging, title: t('scaffold.show'), class: 'btn btn-info' %>
          <%= link_to icon_tag(:edit), edit_admin_ziltagging_path(admin_ziltagging), title: t('scaffold.edit'), class: 'btn btn-warning' %>
          <%= link_to icon_tag(:trash), admin_ziltagging, title: t('scaffold.destroy'), class: 'btn btn-danger', method: :delete, data: { confirm: t('scaffold.are_you_sure') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @admin_ziltaggings %>