<div class="page-header">
  <h1><%= Admin::Tag.model_name.human %> <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-plus', title: t('scaffold.new')), new_admin_tag_path, class: 'btn btn-success btn-lg' %></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= Admin::Tag.human_attribute_name(:name) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_tags.each do |admin_tag| %>
      <tr>
        <td><%= admin_tag.name %></td>
        <td>
          <%= link_to icon_tag(:search), admin_tag, title: t('scaffold.show'), class: 'btn btn-info' %>
          <%= link_to icon_tag(:edit), edit_admin_tag_path(admin_tag), title: t('scaffold.edit'), class: 'btn btn-warning' %>
          <%= link_to icon_tag(:trash), admin_tag, title: t('scaffold.destroy'), class: 'btn btn-danger', method: :delete, data: { confirm: t('scaffold.are_you_sure') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @admin_tags %>