<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Ziltag is a web plugin that helps you discuss and discover everything happens in images." />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Ziltag is a web plugin that helps you discuss and discover everything happens in images.">
    <meta name="twitter:site" content="@myziltag">
    <meta name="twitter:title" content="Ziltag - Turns Images into Conversation.">
    <meta name="twitter:description" content="Ziltag is a web plugin that helps you discuss and discover everything happens in images.">
    <meta name="twitter:creator" content="@myziltag">
    <meta name="twitter:image" content="<%= asset_path('social_media_logo.png') %>">
    <!-- Open Graph data -->
    <meta property="og:title" content="Ziltag - Turns Images into Conversation." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ziltag.com/" />
    <meta property="og:image" content="<%= asset_path('social_media_logo.png') %>" />
    <meta property="og:description" content="Ziltag is a web plugin that helps you discuss and discover everything happens in images." />
    <meta property="og:site_name" content="Ziltag" />
    <%= stylesheet_link_tag 'landing' if Rails.env.production? %>
    <title>Ziltag</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="app"><%= raw @html %></div>
    <script>window.__PRELOADED_STATE__ = <%= raw @state.to_json %></script>
    <%= javascript_include_tag 'landing' %>
    <% if Rails.env.production? %>
      <script src="//ziltag.com/plugin.js" data-ziltag="<%= Settings.plugin_token %>"></script>
    <% end %>
  </body>
</html>
