<div class="layout__slide">
  <div class="mdl-grid mdl-color--grey-100">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--10-col">
      <div class="join">
        <h4 class="join__left">Become a Ziltag partner.</h4>
        <div class="join__right">
          <%= form_for @user, as: :user, url: user_registration_path do |f| %>
            <div class="text-field">
              <%= f.text_field :email, required: true, class: 'text-field__input capsule', placeholder: 'Enter your email...' %>
              <%= f.hidden_field :type %>
              <%= f.submit 'Join for Free!', class: 'text-field__button capsule capsule--blue' %>
            </div>
          <% end %>
          <div class="join__bottom">By joining us to become a content provider, you agree to our term of use and provacy policy.</div>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col"></div>
  </div>

  <h3 style="text-align: center">Your lonely images deserve a second chance.</h3>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--5-col">
      <div class="layout__install">Install our plugin to your website/ blog and empower images a new level of freedom.</div>
      <ul class="feature-list">
        <li class="feature-list__item"><i class="mdi mdi-pencil"></i> Tag and write about anything appears in images.</li>
        <li class="feature-list__item"><i class="mdi mdi-comment-processing-outline"></i> Ask questions or comments directly on anything in images.</li>
        <li class="feature-list__item"><i class="mdi mdi-bell-outline"></i> Get notified with discussion you have participated.</li>
        <li class="feature-list__item"><i class="mdi mdi-desktop-mac"></i> Simple installation. Work for your favorite websites.</li>
      </ul>
      <div class="layout__bands">Work perfectly with
        <% %w[tumblr wordpress blogger].each do |brand| %>
        <%= image_tag "brands/#{brand}.png", class: 'layout__brand' %>
        <% end %>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--5-col">
      <div class="player">
        <video poster="https://cdn.selz.com/plyr/1.0/poster.jpg" controls crossorigin>
          <source src="https://cdn.selz.com/plyr/1.0/movie.mp4" type="video/mp4">
          <source src="https://cdn.selz.com/plyr/1.0/movie.webm" type="video/webm">
        </video>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col"></div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--11-col">
      <div class="layout__copyright">© Ziltag Inc., 2015. All Rights Reserved.</div>
    </div>
  </div>
</div>
<div class="layout__slide layout__slide--grey">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--10-col">
      <h2>Play</h2>
      <p>Seeing is believing.<br>Click tags below and play around.</p>
      <div class="layout__play-images mdl-grid mdl-grid--no-spacing">
        <% 1.upto(6).each do |i| %>
        <div class="mdl-cell mdl-cell--4-col"><%= image_tag "landing/#{i}.jpg" %></div>
        <% end %>
      </div>
      <br>
      <p>Want your photo to be as cool as ours? <a href="#user_email">Become a Ziltag Partner for free.</a></p>
    </div>
    <div class="mdl-cell mdl-cell--1-col"></div>
  </div>
</div>
<script src="http://ziltag.github.io/ziltag-plugin/dist/ziltag-plugin.js" data-ziltag="d3d4b9"></script>