<h1 class="heading"><%= t(:'.heading') %></h1>
<form action="/">
  <%= url_field_tag :src, nil, id: 'image_url', placeholder: t(:'.enter_url'), autofocus: true, autocomplete: 'off' %>
</form>

<%= form_for @photo do |f| %>
  <div class="or-upload">
    <span class="or-upload__or"><%= t(:'.or') %></span>
    <button class="or-upload__upload mdl-button mdl-js-buutton" type="button"><%= t(:'.upload_one') %></button>
  </div>
  <%= f.file_field :image %>
<% end %>