<div class="ready">
  <h2>Thank you. Your script is now ready!</h2>
  <h5>Copy the script and get everything started!</h5>
  <textarea id="script" class="ready__textarea" rows="2" onclick="this.focus();this.select()" readonly="readonly"><script src="//<%= request.host_with_port + '/plugin.js' %>" data-ziltag="<%= current_user.box.token %>"></script>
<noscript>You have to enable JavaScript to use Ziltag.</noscript></textarea>
  <button class="ready__copy capsule capsule--blue" onclick="document.getElementById('script').focus();document.getElementById('script').select()">COPY</button>
  <div class="ready__box">
    <h4><%= image_tag 'brands/tumblr.png', width: 40 %> Installation Guide for Tumblr</h4>
    <hr>
    <ul class="ready__steps">
      <li><div class="ready__step-number">1</div> Click user icon on the top-right corner and select Edit appearance.</li>
      <li><div class="ready__step-number">2</div> Click Edit Theme button under Website Theme tab.</li>
      <li><div class="ready__step-number">3</div> Click Edit HTML.</li>
      <li><div class="ready__step-number">4</div> Scroll the editor all the way down and paste the script before <code><%= '</body>' %></code></li>
      <li><div class="ready__step-number">5</div> Click Update Preview, then Save. Now You are all set.</li>
    </ul>
  </div>
  <div class="ready__box">
    <h4><%= image_tag 'brands/wordpress.png', width: 40 %> Installation Guide for Wordpress</h4>
    <hr>
    <ul class="ready__steps">
      <li><div class="ready__step-number">1</div> Click user icon on the top-right corner and select Edit appearance.</li>
      <li><div class="ready__step-number">2</div> Click Edit Theme button under Website Theme tab.</li>
      <li><div class="ready__step-number">3</div> Click Edit HTML.</li>
      <li><div class="ready__step-number">4</div> Scroll the editor all the way down and paste the script before xxxx</li>
      <li><div class="ready__step-number">5</div> Click Update Preview, then Save. Now You are all set.</li>
    </ul>
  </div>
  <div class="ready__box">
    <h4><%= image_tag 'brands/blogger.png', width: 40 %> Installation Guide for Blogger</h4>
    <hr>
    <ul class="ready__steps">
      <li><div class="ready__step-number">1</div> Click user icon on the top-right corner and select Edit appearance.</li>
      <li><div class="ready__step-number">2</div> Click Edit Theme button under Website Theme tab.</li>
      <li><div class="ready__step-number">3</div> Click Edit HTML.</li>
      <li><div class="ready__step-number">4</div> Scroll the editor all the way down and paste the script before xxxx</li>
      <li><div class="ready__step-number">5</div> Click Update Preview, then Save. Now You are all set.</li>
    </ul>
  </div>
  <div class="ready__box">
    <h4><%= image_tag 'logo.png', width: 40 %> Installation Guide</h4>
    <hr>
    <ul class="ready__steps">
      <li><div class="ready__step-number">1</div> Click user icon on the top-right corner and select Edit appearance.</li>
      <li><div class="ready__step-number">2</div> Click Edit Theme button under Website Theme tab.</li>
      <li><div class="ready__step-number">3</div> Click Edit HTML.</li>
      <li><div class="ready__step-number">4</div> Scroll the editor all the way down and paste the script before xxxx</li>
      <li><div class="ready__step-number">5</div> Click Update Preview, then Save. Now You are all set.</li>
    </ul>
  </div>
</div>