<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ziltag</title>
  <%= seo_meta_tags %>
  <%= stylesheet_link_tag    'landing', media: 'all' %>
  <%= javascript_include_tag 'landing' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><%= image_tag 'logo.png' %></span>
        <div class="mdl-layout-spacer"></div>
      </div>
    </header>
    <!-- <main class="mdl-layout__content"></main> -->
  </div>
  <div id="fullpage">
    <div class="section section--1">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col"></div>
        <div class="mdl-cell mdl-cell--6-col">
          <h1 class="notice"><%= notice %></h1>
          <div class="player">
            <video poster="https://cdn.selz.com/plyr/1.0/poster.jpg" controls crossorigin autoplay>
              <source src="https://cdn.selz.com/plyr/1.0/movie.mp4" type="video/mp4">
              <source src="https://cdn.selz.com/plyr/1.0/movie.webm" type="video/webm">
            </video>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col"></div>
      </div>
    </div>
    <div class="section section--2">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col">
          <h1>Subscribe</h1>
          <%= form_for @subscriber do |f| %>
            <div class="mdl-textfield mdl-js-textfield">
              <%= f.email_field :email, class: 'mdl-textfield__input', id: 'email', required: true %>
              <label class="mdl-textfield__label" for="email">Your email...</label>
            </div>
            <input class="mdl-button mdl-js-button mdl-button--raised" type="submit" value="Subscribe">
          <% end %>
        </div>
        <div class="mdl-cell mdl-cell--4-col"></div>
      </div>
    </div>
  </div>
</body>
</html>