<div class="page-header">
  <h1><%= Admin::Post.model_name.human %> <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-plus', title: t('scaffold.new')), new_admin_post_path, class: 'btn btn-success btn-lg' %></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= Admin::Post.human_attribute_name(:user) %></th>
      <th><%= Admin::Post.human_attribute_name(:published) %></th>
      <th><%= Admin::Post.human_attribute_name(:title) %></th>
      <th><%= Admin::Post.human_attribute_name(:content) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_posts.each do |admin_post| %>
      <tr>
        <td><%= link_to admin_post.user, [:admin, admin_post.user] %></td>
        <td><%= admin_post.published %></td>
        <td><%= admin_post.title %></td>
        <td><%= truncate strip_tags admin_post.content %></td>
        <td>
          <%= link_to icon_tag(:search), admin_post, title: t('scaffold.show'), class: 'btn btn-info' %>
          <%= link_to icon_tag(:edit), edit_admin_post_path(admin_post), title: t('scaffold.edit'), class: 'btn btn-warning' %>
          <%= link_to icon_tag(:trash), admin_post, title: t('scaffold.destroy'), class: 'btn btn-danger', method: :delete, data: { confirm: t('scaffold.are_you_sure') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @admin_posts %>