<p>
  <strong><%= Admin::Post.human_attribute_name(:user) %>:</strong>
  <%= @admin_post.user %>
</p>

<p>
  <strong><%= Admin::Post.human_attribute_name(:title) %>:</strong>
  <%= @admin_post.title %>
</p>

<p>
  <strong><%= Admin::Post.human_attribute_name(:content) %>:</strong>
  <div class="well"><%= sanitize @admin_post.content %></div>
</p>


<hr>

<%= link_to t('scaffold.edit'), edit_admin_post_path(@admin_post), class: 'btn btn-default' %>
<%= link_to t('scaffold.back'), admin_posts_path, class: 'btn btn-default' %>
