<section class="sec_following_user">  
  <div class="right_zone">
    <div class="profile_img">
      <%= link_to image_tag(user.avatar_url), following_user_path(user) %>
    </div><!-- /.profile_img -->
  </div><!-- /.right_zone -->

  <div class="left_zone">
    <span class="username"><%= link_to user.username, following_user_path(user) %></span>
    <ul class="list-unstyled following_and_fans_ul">
      <li>關注：<%= user.leaders.count %></li>
      <li>粉絲：<%= user.followers.count %></li>
    </ul>

    <div class="follow_user_block">
      <%= following_button user %>
    </div><!-- /.follow_user_block -->

  </div><!-- /.left_zone -->
</section><!-- /.sec_following_user -->