<div class="comment-info js-comment-info mdl-color--white">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col">
      <%= image_tag comment.user.avatar.thumb.url, class: 'comment-info__avatar', title: comment.user.username %>
    </div>
    <div class="mdl-cell mdl-cell--10-col">
      <div class="comment-info__status">
        <span class="comment-info__status__user"><%= comment.user.username %></span>
        <span class="comment-info__status__time"><%= time_ago_in_words comment.created_at %></span>
      </div>
      <div class="comment-info__content"><%= comment.content %></div>
      <% if current_user && current_user.own?(comment) %>
      <div class="comment-info__editor hide">
        <%= form_for comment, html: {class: 'edit-area js-edit-area'} do |f| %>
          <div class="edit-area__field mdl-textfield mdl-js-textfield">
            <%= f.text_area :content, id: "comment_content_#{comment.id}", class: 'edit-area__textarea mdl-textfield__input', required: true %>
            <label class="mdl-textfield__label" for="<%= "comment_content_#{comment.id}" %>"><%= t(:'.leave_your_comment') %></label>
          </div>
          <%= f.submit t(:comment), class: 'mdl-button mdl-js-button mdl-button--accent' %>
          <button class="mdl-button mdl-js-button comment-info__dismiss-button sticker-container__normal-mode-button js-normal-mode-button" type="button">Cancel</button>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <% if current_user && current_user.own?(comment) %>
      <button class="comment-info__editor-button mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">create</i>
      </button>
      <%= link_to comment, class: 'mdl-button mdl-js-button mdl-button--icon', method: :delete, data: {confirm: t(:are_your_sure)} do %>
        <i class="material-icons">delete</i>
      <% end %>
      <% end %>
    </div>
  </div>
</div>