<% if @ziltag %>
<% content_for :head do %>
<meta property="og:title" content="Ziltag" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Ziltag" />
<%= tag :meta, property: 'article:author', content: @ziltag.username %>
<%= tag :meta, property: 'og:url', content: photo_url(@photo, @ziltag) %>
<%= tag :meta, property: 'og:description', content: @ziltag.content %>
<%= tag :meta, property: 'og:image', content: @photo.image_url %>
<% end %>
<% end %>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="sticker-container js-sticker-container">
      <%= image_tag @photo.image, class: 'layout-photo sticker-container__image' %>
      <% @photo.ziltags.each do |ziltag| %>
        <%= content_tag :div,
          class: "sticker-container__holder js-sticker-holder sticker-container__holder--hide#{' sticker-container__holder--current' if ziltag == @ziltag}",
          data: {x: ziltag.x, y: ziltag.y, origin_x: ziltag.x, origin_y: ziltag.y} do
        %>
          <%= link_to photo_path(@photo, ziltag) do %>
            <%= content_tag :div, nil, class: "sticker-container__circle#{' active' if ziltag == @ziltag}" %>
          <% end %>
          <div class="sticker-container__preview-dialog dialog">
            <div class="dialog__frame"><%= truncate ziltag.content %></div>
            <div class="dialog__arrow"></div>
          </div>
        <% end %>
      <% end %>
      <div class="sticker-container__holder js-sticker-holder sticker-container__holder--hide new-holder" data-x="0" data-y="0">
        <div class="sticker-container__circle"></div>
        <div class="sticker-container__dialog dialog">
          <div class="dialog__frame">
            <%= form_for Ziltag.new(photo: @photo), html: {class: 'edit-area js-edit-area'} do |f| %>
              <div class="edit-area__field mdl-textfield mdl-js-textfield">
                <%= f.text_area :content, class: 'edit-area__textarea mdl-textfield__input', required: true, autofocus: true %>
                <label class="mdl-textfield__label" for="sticker_content"><%= t(:'.whats_in_your_mind') %></label>
              </div>
              <%= f.hidden_field :x %>
              <%= f.hidden_field :y %>
              <%= f.hidden_field :photo_id %>
              <%= f.submit t(:'.save_message'), class: 'mdl-button mdl-js-button mdl-button--accent' %>
            <% end %>
            <button class="dialog__dismiss js-holder-dismiss mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">clear</i>
            </button>
          </div>
          <div class="dialog__arrow"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <% if @ziltag %>
    <div class="user-info js-user-info mdl-card">
      <div class="mdl-card__supporting-text">
        <%= image_tag @ziltag.user.avatar.thumb.url, class: 'user-info__avatar', alt: @ziltag.user.username %>
        <div class="user-info__text-section">
          <div><%= t(:'.tag_created_by') %></div>
          <div class="user-info__username"><%= @ziltag.user.username %></div>
        </div>
      </div>
      <div class="mdl-card__menu">
        <button id="share-menu" class="user-info__share-link mdl-button mdl-js-button mdl-button--icon" data-link="<%= photo_url(@photo, @ziltag) %>">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
    <hr>
    <div class="sticker-info js-sticker-info mdl-card mdl-shadow--2dp">
      <div class="mdl-card__media mdl-color--white"><%= ziltag_preview @ziltag %></div>
      <div class="mdl-card__supporting-text">
        <div class="sticker-info__status-pane">
          <p class="sticker-info__status"><%= ziltag_content @ziltag %></p>
          <p><%= time_ago_in_words @ziltag.created_at %></p>
        </div>
        <% if current_user && current_user.own?(@ziltag) %>
        <div class="sticker-info__editor-pane hide">
          <%= form_for @ziltag, html: {class: 'edit-area js-edit-area js-edit-form'} do |f| %>
            <div class="edit-area__field mdl-textfield mdl-js-textfield">
              <%= f.text_area :content, class: 'edit-area__textarea mdl-textfield__input js-edit-textarea', required: true, autofocus: true %>
              <label class="mdl-textfield__label" for="sticker_content">What's in your mind?</label>
            </div>
            <%= f.hidden_field :x %>
            <%= f.hidden_field :y %>
            <%= f.hidden_field :photo_id %>
            <input type="submit" class="mdl-button mdl-js-button mdl-button--accent" value="Save Message">
            <button class="mdl-button mdl-js-button sticker-info__dismiss-button sticker-container__normal-mode-button js-normal-mode-button" type="button">Cancel</button>
          <% end %>
        </div>
        <% end %>
      </div>
      <% if current_user && current_user.own?(@ziltag) %>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect sticker-info__editor-button js-edit-mode-button" title="Edit">
          <i class="material-icons">create</i>
        </button>
        <%= link_to @ziltag, method: :delete, data: {confirm: t(:are_your_sure)}, class: 'mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect', title: 'Delete' do %>
          <i class="material-icons">delete</i>
        <% end %>
      </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
    <div class="comment-info js-comment-info mdl-shadow--2dp">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col">
          <%= image_tag current_user.avatar.thumb.url, class: 'comment-info__avatar', title: current_user.username %>
        </div>
        <div class="mdl-cell mdl-cell--10-col">
          <%= form_for Comment.new(ziltag: @ziltag), html: {class: 'edit-area js-edit-area'} do |f| %>
            <div class="edit-area__field mdl-textfield mdl-js-textfield">
              <%= f.text_area :content, class: 'edit-area__textarea mdl-textfield__input', required: true %>
              <label class="mdl-textfield__label" for="ziltag_content"><%= t(:'.leave_your_comment') %></label>
            </div>
            <%= f.hidden_field :ziltag_id %>
            <%= f.submit t(:'.comment'), class: 'mdl-button mdl-js-button mdl-button--accent' %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <% @ziltag.comments.each do |comment| %>
    <div class="comment-info js-comment-info">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col">
          <%= image_tag comment.user.avatar.thumb.url, class: 'comment-info__avatar', title: comment.user.username %>
        </div>
        <div class="mdl-cell mdl-cell--10-col">
          <div class="comment-info__status">
            <%= comment.content %>
            <div class="comment-info__time"><%= time_ago_in_words comment.created_at %> by <%= comment.user.username %></div>
          </div>
          <% if current_user && current_user.own?(comment) %>
          <div class="comment-info__editor hide">
            <%= form_for comment, html: {class: 'edit-area js-edit-area'} do |f| %>
              <div class="edit-area__field mdl-textfield mdl-js-textfield">
                <%= f.text_area :content, id: "comment_content_#{comment.id}", class: 'edit-area__textarea mdl-textfield__input', required: true %>
                <label class="mdl-textfield__label" for="<%= "comment_content_#{comment.id}" %>"><%= t(:'.leave_your_comment') %></label>
              </div>
              <%= f.submit t(:'.comment'), class: 'mdl-button mdl-js-button mdl-button--accent' %>
              <button class="mdl-button mdl-js-button comment-info__dismiss-button sticker-container__normal-mode-button js-normal-mode-button" type="button">Cancel</button>
            <% end %>
          </div>
          <% end %>
        </div>
        <div class="mdl-cell mdl-cell--1-col">
          <% if current_user && current_user.own?(comment) %>
          <button class="comment-info__editor-button mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">create</i>
          </button>
          <%= link_to comment, class: 'mdl-button mdl-js-button mdl-button--icon', method: :delete, data: {confirm: t(:are_your_sure)} do %>
            <i class="material-icons">delete</i>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <% else %>
      <% if user_signed_in? %>
        <div class="jumbotron jumbotron--center">
          <div class="jumbotron__title">BRAVO</div>
          <div class="jumbotron__subtitle">Ready to add a new tag? Let us help.</div>
          <div class="jumbotron__summary">You can add all kinds of information to help unveil every piece of secret within a photo. Help the lost information to find its source.</div>
          <div class="jumbotron__spacing"></div>
          <div class="jumbotron__item">
            <button class="jumbotron__item-number mdl-button mdl-js-button mdl-button--fab mdl-color--light-green-300">1</button>
            <div class="jumbotron__item-text">Click anywhere on the photo that you wish to say something or supply correct information.</div>
          </div>
          <div class="jumbotron__item">
            <button class="jumbotron__item-number mdl-button mdl-js-button mdl-button--fab mdl-color--light-green-300">2</button>
            <div class="jumbotron__item-text">Type whatever you wish to say or simply paste a link. A link can be a webpage, photo, wikipedia, facebook, twitter…anything you wish. Then finish it with some hashtags(#) if you like.</div>
          </div>
          <div class="jumbotron__item">
            <button class="jumbotron__item-number mdl-button mdl-js-button mdl-button--fab mdl-color--light-green-300">3</button>
            <div class="jumbotron__item-text">Press Ctrl+Enter (Cmd+Enter for Mac) or click “post” to publish.</div>
          </div>
        </div>
        <div class="jumbotron__summary">Wish to make your photo as cool as this?  Install our plugin! LEARN MORE</div>
      <% else %>
        <% if params[:sign_up] %>
        <%= render 'shared/sign_up' %>
        <% else %>
        <%= render 'shared/login' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>