<% if @ziltag %>
<% content_for :head do %>
<meta property="og:title" content="Ziltag" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Ziltag" />
<%= tag :meta, property: 'article:author', content: @ziltag.username %>
<%= tag :meta, property: 'og:url', content: photo_url(@photo, @ziltag) %>
<%= tag :meta, property: 'og:description', content: @ziltag.content %>
<%= tag :meta, property: 'og:image', content: preview_image_ziltag_url(@ziltag) %>
<% end %>
<% end %>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="sticker-container js-sticker-container">
      <%= image_tag @photo.image, class: 'layout-photo sticker-container__image' %>
      <% @photo.ziltags.select{|ziltag| ziltag.confirmed? || (user_signed_in? && current_user.own?(ziltag)) }.each do |ziltag| %>
        <%= content_tag :div,
          class: "sticker-container__holder sticker-container__holder--hide#{' sticker-container__holder--current' if ziltag == @ziltag}",
          data: {x: ziltag.x, y: ziltag.y, origin_x: ziltag.x, origin_y: ziltag.y} do
        %>
          <%= link_to photo_path(@photo, ziltag) do %>
            <%= content_tag :div, nil, class: "sticker-container__circle#{' active' if ziltag == @ziltag}" %>
          <% end %>
          <div class="sticker-container__dialog sticker-container__dialog--preview dialog dialog--preview <%= ' dialog--left sticker-container__dialog--left' if ziltag.x > 0.5 %>">
            <div class="dialog__frame"><%= truncate ziltag.content %></div>
            <div class="dialog__arrow"></div>
          </div>
        <% end %>
      <% end %>
      <div class="sticker-container__holder sticker-container__holder--hide new-holder" data-x="0" data-y="0">
        <div class="sticker-container__circle"></div>
        <div class="sticker-container__dialog dialog">
          <div class="dialog__frame">
            <%= form_for Ziltag.new(photo: @photo), html: {class: 'edit-area js-edit-area'} do |f| %>
              <div class="edit-area__field mdl-textfield mdl-js-textfield">
                <%= f.text_area :content, class: 'edit-area__textarea mdl-textfield__input', required: true, autofocus: true %>
                <label class="mdl-textfield__label" for="sticker_content"><%= t(:'.whats_in_your_mind') %></label>
              </div>
              <%= f.hidden_field :x %>
              <%= f.hidden_field :y %>
              <%= f.hidden_field :photo_id %>
              <%= f.submit t(:'.save_message'), class: 'mdl-button mdl-js-button mdl-button--accent' %>
            <% end %>
            <button class="sticker-container__dismiss dialog__dismiss mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">clear</i>
            </button>
          </div>
          <div class="dialog__arrow"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <% if @ziltag %>
    <div class="user-info js-user-info mdl-card">
      <div class="mdl-card__supporting-text">
        <%= image_tag @ziltag.user.avatar.thumb.url, class: 'user-info__avatar', alt: @ziltag.user.username %>
        <div class="user-info__text-section">
          <div><%= t(:'.tag_created_by') %></div>
          <div class="user-info__username"><%= @ziltag.user.username %></div>
        </div>
      </div>
      <div class="mdl-card__menu">
        <button class="user-info__share-link mdl-button mdl-js-button mdl-button--icon" data-link="<%= photo_url(@photo, @ziltag) %>">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
    <hr>
    <div class="sticker-info js-sticker-info mdl-card mdl-shadow--2dp">
      <div class="mdl-card__media mdl-color--white"><%= ziltag_preview @ziltag %></div>
      <div class="mdl-card__supporting-text">
        <div class="sticker-info__status-pane">
          <p class="sticker-info__status"><%= ziltag_content @ziltag %></p>
          <p><%= time_ago_in_words @ziltag.created_at %></p>
        </div>
        <% if current_user && current_user.own?(@ziltag) %>
        <div class="sticker-info__editor-pane hide">
          <%= form_for @ziltag, html: {class: 'edit-area js-edit-area js-edit-form'} do |f| %>
            <div class="edit-area__field mdl-textfield mdl-js-textfield">
              <%= f.text_area :content, class: 'edit-area__textarea mdl-textfield__input js-edit-textarea', required: true, autofocus: true %>
              <label class="mdl-textfield__label" for="sticker_content">What's in your mind?</label>
            </div>
            <%= f.hidden_field :x %>
            <%= f.hidden_field :y %>
            <%= f.hidden_field :photo_id %>
            <input type="submit" class="mdl-button mdl-js-button mdl-button--accent" value="Save Message">
            <button class="mdl-button mdl-js-button sticker-info__dismiss-button sticker-container__normal-mode-button js-normal-mode-button" type="button">Cancel</button>
          <% end %>
        </div>
        <% end %>
      </div>
      <% if current_user && current_user.own?(@ziltag) %>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect sticker-info__editor-button js-edit-mode-button" title="Edit">
          <i class="material-icons">create</i>
        </button>
        <%= link_to @ziltag, method: :delete, data: {confirm: t(:are_your_sure)}, class: 'mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect', title: 'Delete' do %>
          <i class="material-icons">delete</i>
        <% end %>
      </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
    <div class="comment-info js-comment-info mdl-shadow--2dp mdl-color--white">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col">
          <%= image_tag current_user.avatar.thumb.url, class: 'comment-info__avatar', title: current_user.username %>
        </div>
        <div class="mdl-cell mdl-cell--10-col">
          <%= form_for Comment.new(ziltag: @ziltag), html: {class: 'edit-area js-edit-area'} do |f| %>
            <div class="edit-area__field mdl-textfield mdl-js-textfield">
              <%= f.text_area :content, class: 'edit-area__textarea mdl-textfield__input', required: true %>
              <label class="mdl-textfield__label" for="ziltag_content"><%= t(:'.leave_your_comment') %></label>
            </div>
            <%= f.hidden_field :ziltag_id %>
            <%= f.submit t(:'.comment'), class: 'mdl-button mdl-js-button mdl-button--accent' %>
          <% end %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="mdl-shadow--2dp">
      <%= form_for @user, url: user_registration_path do |f| %>
        <div class="mdl-textfield mdl-js-textfield">
          <%= f.text_field :username, class: 'mdl-textfield__input' %>
          <label class="mdl-textfield__label" for="user_username"><%= t(:username) %></label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <%= f.email_field :email, class: 'mdl-textfield__input' %>
          <label class="mdl-textfield__label" for="user_email"><%= t(:email) %></label>
        </div>
        <%= f.submit t(:login), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
      <% end %>
    </div>
    <% end %>
    <%= render partial: 'comment', collection: @ziltag.comments.select{|comment| comment.confirmed? || (user_signed_in? && current_user.own?(comment)) } %>
    <% else %>
      <%= render 'summary' %>
    <% end %>
  </div>
</div>