<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="sticker-container js-sticker-container">
      <button class="sticker-container__add-button mdl-js-button">
        <i class="material-icons">add</i>
      </button>
      <%= image_tag @photo.image, class: 'layout-photo sticker-container__image' %>
      <% @photo.stickers.each do |sticker| %>
        <%= content_tag :div,
          class: 'sticker-container__holder js-sticker-holder sticker-container__holder--hide',
          data: {x: sticker.x, y: sticker.y} do
        %>
          <%= link_to photo_path(source: @photo.source, sticker_id: sticker.id) do %>
          <%= content_tag :div, nil, class: "sticker-container__circle#{' active' if sticker == @sticker}" %>
          <% end %>
        <% end %>
      <% end %>
      <div class="sticker-container__holder js-sticker-holder sticker-container__holder--hide new-holder" data-x="0" data-y="0">
        <div class="sticker-container__circle"></div>
        <div class="sticker-container__dialog dialog">
          <div class="dialog__frame">
            <%= form_for Sticker.new(photo: @photo), html: {class: 'edit-area js-edit-area'} do |f| %>
              <div class="edit-area__field mdl-textfield mdl-js-textfield">
                <%= f.text_area :content, class: 'edit-area__textarea mdl-textfield__input', required: true, autofocus: true %>
                <label class="mdl-textfield__label" for="sticker_content">What's in your mind?</label>
              </div>
              <%= f.hidden_field :x %>
              <%= f.hidden_field :y %>
              <%= f.hidden_field :photo_id %>
              <input type="submit" class="mdl-button mdl-js-button mdl-button--accent" value="Save Message">
            <% end %>
            <button class="dialog__dismiss js-holder-dismiss mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">clear</i>
            </button>
          </div>
          <div class="dialog__arrow"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <% if @sticker %>
    <div class="user-info">
      <%= image_tag @sticker.user.avatar.thumb.url, class: 'user-info__avatar', alt: @sticker.user.username %>
      <div class="user-info__text-section">
        <div class="user-info__text">Tag created by</div>
        <div class="user-info__username"><%= @sticker.user.username %></div>
      </div>
      <div class="user-info__icons">
        <button class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">favorite</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">share</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>
      </div>
    </div>
    <hr>
    <%= sticker_preview @sticker %>
    <div class="sticker-info js-sticker-info mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text">
        <div class="sticker-info__status">
          <h4><%= sticker_content @sticker %></h4>
          <p><%= time_ago_in_words @sticker.created_at %></p>
        </div>
        <% if current_user.own? @sticker %>
        <div class="sticker-info__editor hide">
          <%= form_for @sticker, html: {class: 'edit-area js-edit-area'} do |f| %>
            <div class="edit-area__field mdl-textfield mdl-js-textfield">
              <%= f.text_area :content, class: 'edit-area__textarea mdl-textfield__input', required: true, autofocus: true %>
              <label class="mdl-textfield__label" for="sticker_content">What's in your mind?</label>
            </div>
            <%= f.hidden_field :x %>
            <%= f.hidden_field :y %>
            <%= f.hidden_field :photo_id %>
            <input type="submit" class="mdl-button mdl-js-button mdl-button--accent" value="Save Message">
            <button class="mdl-button mdl-js-button sticker-info__dismiss-button" type="button">Cancel</button>
          <% end %>
        </div>
        <% end %>
      </div>
      <% if current_user.own? @sticker %>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect sticker-info__editor-button" title="Edit">
          <i class="material-icons">create</i>
        </button>
        <%= link_to @sticker, method: :delete, data: {confirm: 'You are going to delete this message, are you sure?'}, class: 'mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect', title: 'Delete' do %>
          <i class="material-icons">delete</i>
        <% end %>
      </div>
      <% end %>
    </div>
    <% else %>
      <h1>Copy this link</h1>
      <pre><code><%= @photo.image_url %></code></pre>
    <% end %>
  </div>
</div>