<div class="container-fluid layout_fluid" data-layout="outer">
    
  <div class="fill_white" data-layout="outer_fill_white"></div>
  <div class="custom_header_line" data-layout="custom_header_line"></div>
  
  <div class="container" data-layout="inner">
    <div class="row">
      
      <div class="col-xs-2 col_left">
        <%= render :partial => "/layouts/partials/sidebar" %>
      </div>
      
      <div class="col-xs-10 col_right" data-layout="col_right">
        
        <section class="photos_show">
          
          <article class="photos_show_article" data-photo-article>
            <div class="show_msg">
              顯示加貼：
              <select>
                <option value="0" selected>關</option>
                <option value="1">開</option>
              </select>
            </div><!-- /.show_msg -->
            
            <div class="img_block">
              <article class="c_ziltag_sticker_article" data-ziltag-mode="responsive" data-remove-ziltag="false" data-ziltag-sticker-article>
                <%= image_tag @photo.image, class: :'img-responsive', "data-show-sticker": "" %>
                <div class="other_func">
                  <ul class="list-unstyled list-inline other_func_ul">
                    <li><a href="#">加貼留言</a></li>
                    <li><a href="#">引用相片</a></li>
                  </ul>
                </div><!-- /.other_func -->
                
                <script type="application/json" id="all_ziltaggings"><%= raw render partial: 'ziltaggings/ziltaggings.json', object: @photo.ziltaggings %></script>
              </article><!-- /.c_ziltag_sticker_article -->
            </div><!-- /.img_block -->
            
            <div class="contents_block">
              
              <ul class="list-unstyled msg_list">
                <% @photo.ziltaggings.each do |ziltagging| %>
                  <li data-ziltagging-id="<%= ziltagging.id %>">
                  
                    <div class="item_block">
                      
                      <h2 class="post_title"><%= ziltagging.title %></h2>
                      <div class="post_content_block">
                        <div class="post_content">
                          <%= summary ziltagging.content %>
                        </div>
                      </div><!-- /.post_content_block -->
                      
                      <div class="post_user_profile">
                        <a href="#" class="profile_link"><%= image_tag ziltagging.user.avatar.thumb.url, class: :user_profile_img %></a>
                        <div class="follow_user_block">
                          <a href="#" class="user_name"><%= ziltagging.user.username %></a><br>
                          <div class="follow_block">
                            <%= following_button ziltagging.user %>
                          </div><!-- /.follow_block -->
                          <%= time_info ziltagging.post.created_at %>
                        </div><!-- /.follow_user_div -->
                        
                        <ul class="list-unstyled list-inline pull-right other_funcs">
                          <li class="share_item">
                            <a href="#" class="btn_share"><i class="fa fa-share"></i></a>
                            <div class="share_zone hidden" data-share-zone="">
                              <img class="other_triangle" src="/assets/other_triangle-82eeec09d03edff1a2c1ae334ac772818588f345ac7107c5242cbedc1bd908c1.png" alt="Other triangle 82eeec09d03edff1a2c1ae334ac772818588f345ac7107c5242cbedc1bd908c1">
                              <ul class="list-unstyled list-inline share_list">
                                <li><a href="#" class="icon_share fb"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                                <li><a href="#" class="icon_share twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                                <li><a href="#" class="icon_share tumblr"><i class="fa fa-tumblr-square fa-2x"></i></a></li>
                                <li><a href="#" class="icon_share googleplus"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                              </ul>
                            </div><!-- /.share_zone -->
                          </li>
                          <li>
                            <a href="#" class="btn_precious"><i class="fa fa-star"></i></a>
                            <a href="#" class="btn_precious cancel"><i class="fa fa-star"></i></a>
                          </li>
                        </ul><!-- /.other_funcs -->
                      </div><!-- /.post_user_profile -->
                    </div>
                  </li>
                <% end %>
              </ul>
              
              
            </div><!-- /.contents_block -->
            
          </article><!-- /.photo_section_article -->
          
        </section><!-- /.photo_section -->
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.container -->