<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="sticker-container js-sticker-container">
      <button class="sticker-container__add-button mdl-js-button">
        <i class="material-icons">add</i>
      </button>
      <%= image_tag @photo.image, class: 'layout-photo sticker-container__image', data: {id: @photo.id} %>
      <% @photo.stickers.each do |sticker| %>
        <%= content_tag :div,
          class: 'sticker-container__holder js-sticker-holder sticker-container__holder--hide',
          data: {x: sticker.x, y: sticker.y} do
        %>
          <%= link_to photo_path(source: @photo.source, sticker_id: sticker.id) do %>
          <%= content_tag :div, nil, class: "sticker-container__circle#{' active' if sticker == @sticker}" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <% if @sticker %>
    <div class="user-info">
      <%= image_tag @sticker.user.avatar.thumb.url, class: 'user-info__avatar', alt: @sticker.user.username %>
      <div class="user-info__text-section">
        <div class="user-info__text">Tag created by</div>
        <div class="user-info__username"><%= @sticker.user.username %></div>
      </div>
      <div class="user-info__icons">
        <button class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">favorite</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">share</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>
      </div>
    </div>
    <hr>
    <%= sticker_preview @sticker %>
    <div class="layout-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text">
        <h4><%= sanitize @sticker.content.gsub URI.regexp(['http', 'https']), '<a href="\0" target="_blank">\1://\4/...</a>' %></h4>
        <p><%= time_ago_in_words @sticker.created_at %></p>
      </div>
    </div>
    <% else %>
      <h1>Copy this link</h1>
      <pre><code><%= @photo.image_url %></code></pre>
    <% end %>
  </div>
</div>