<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="sticker-container js-sticker-container">
      <button class="sticker-container__add-button mdl-js-button">
        <i class="material-icons">add</i>
      </button>
      <%= image_tag @photo.image, class: 'layout-photo sticker-container__image' %>
      <% @photo.stickers.each do |sticker| %>
        <div class="sticker-container__holder js-sticker-holder sticker-container__holder--hide" data-x="<%= sticker.x %>" data-y="<%= sticker.y %>">
          <%= link_to photo_path(source: @photo.image_url, sticker_id: sticker.id) do %>
          <div class="sticker-container__circle<%= ' active' if sticker == @sticker %>"></div>
          <% end %>
        </div>
      <% end %>
      <!-- <div class="sticker-container__holder js-sticker-holder" data-x="100" data-y="100">
        <div class="sticker-container__circle"></div>
        <div class="sticker-container__dialog dialog js-dialog">
          <div class="dialog__frame">
            <form action="/stickers" method="post">
              <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" id="content" ></textarea>
                <label class="mdl-textfield__label" for="content">What's in your mind?</label>
              </div>
            </form>
          </div>
          <div class="dialog__arrow"></div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <% if @sticker %>
    <div class="user-info">
      <%= image_tag @sticker.user.avatar.thumb.url, class: 'user-info__avatar', alt: @sticker.user.username %>
      <div class="user-info__text-section">
        <div class="user-info__text">Tag created by</div>
        <div class="user-info__username"><%= @sticker.user.username %></div>
      </div>
      <div class="user-info__icons">
        <button class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">favorite</i>
        </button>
        <button id="share-menu" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">share</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="share-menu">
          <li class="mdl-menu__item">Some Action</li>
          <li class="mdl-menu__item">Another Action</li>
          <li disabled class="mdl-menu__item">Disabled Action</li>
          <li class="mdl-menu__item">Yet Another Action</li>
        </ul>
        <button id="whatever-menu" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="whatever-menu">
          <li class="mdl-menu__item">Some Action</li>
          <li class="mdl-menu__item">Another Action</li>
          <li disabled class="mdl-menu__item">Disabled Action</li>
          <li class="mdl-menu__item">Yet Another Action</li>
        </ul>
      </div>
    </div>
    <hr>
    <%= sticker_preview @sticker %>
    <div class="layout-card mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= @sticker.content %></h2>
      </div>
      <div class="mdl-card__supporting-text"><%= time_ago_in_words @sticker.created_at %></div>
    </div>
    <% else %>
    <% end %>
  </div>
</div>