<div class="layout-fullscreen">
  <div class="starry-sky starry-sky--pink">
    <div class="starry-sky__star starry-sky__star--small"></div>
    <div class="starry-sky__star starry-sky__star--medium"></div>
    <div class="starry-sky__star starry-sky__star--big"></div>
    <div class="starry-sky__container">
      <h1 class="mdl-color-text--white">Welcome back.</h1>
      <h5 class="mdl-color-text--white" style="margin-bottom:100px;">Now we know that you are not a robot. Please setup your password to continue.</h5>
      <%= form_for resource, as: resource_name, url: confirm_path do |f| %>
        <div class="text-field" style="margin-bottom:30px;">
          <%= f.password_field :password, class: 'text-field__input capsule', placeholder: 'Password' %>
        </div>

        <div class="text-field" style="margin-bottom:30px;">
          <%= f.password_field :password_confirmation, class: 'text-field__input capsule', placeholder: 'Confirmation Password' %>
        </div>
        <%= f.hidden_field :confirmation_token, value: params[:confirmation_token] %>
        <div><%= f.submit 'CONFIRM', class: 'capsule capsule--yellow' %></div>
      <% end %>
    </div>
  </div>
</div>