<div class="cover cover--blur"></div>
<%= form_for resource, as: resource_name, url: confirm_path, html: {class: 'action'} do |f| %>
  <%= f.hidden_field :confirmation_token, value: @confirmation_token %>
  <div class="action__title">We’re glad to have you back.</div>
  <div class="action__subtitle">Please setup the password to verify your account.</div>
  <div class="action__content">
    <div class="action__text-field text-field">
      <i class="text-field__icon material-icons">lock</i>
      <%= f.password_field :password, class: 'text-field__input', placeholder: 'Password' %>
    </div>
    <div class="action__text-field text-field">
      <i class="text-field__icon material-icons">lock</i>
      <%= f.password_field :password_confirmation, class: 'text-field__input', placeholder: 'Password Confirmation' %>
    </div>
    <div class="action__bar">
      <%= f.submit 'Confirm', class: 'action__right' %>
    </div>
    <% unless resource.errors.blank? %><div class="action__error"><%= resource.errors.messages.values.flatten.first %></div><% end %>
  </div>
<% end %>