<div
  class="comment-notification"
  style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; width: 670px; box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25); margin: 10px auto; padding: 0; border: 0;">
  <div class="comment-notification__header" style="font-size: normal; line-height: 66px; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; height: 66px; margin: 0; padding: 0; border: 0;">
    <%= image_tag 'logo.png', class: 'comment-notification__logo', style: 'font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: middle; box-sizing: border-box; margin: 0; padding: 0;
    border: 0; margin-left: 20px;' %>
    <span
      class="comment-notification__title mdl-typography--font-medium"
      style="font-size: 20px; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: middle; box-sizing: border-box; padding: 0; border: 0; margin-left: 100px;">Confirmation Instructions</span>
  </div>
  <hr style="box-sizing: border-box;">
  <div class="comment-notification__body" style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; margin: 30px 90px; padding: 0; border: 0;">
    <div class="comment-notification__hello-text" style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; margin: 0 0 10px; padding: 0; border: 0;">
      Hello, <br style="box-sizing: border-box;">Thank you for using Ziltag. <%= @email %> was used to create a Ziltag account. We would like to verify the registration.
    </div>
    <br>
    <%= link_to 'VERIFY', confirmation_url(@resource, confirmation_token: @token), style: 'background-color: red; color: white; padding: 10px 30px; border-radius: 5px; text-decoration: none' %>
    <br>
    <p>Click the button above to verify your account.</p>
    <p>If you can't click on the button, use the link below:</p>
    <p><%= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token) %></p>
    <p>If you didn't create this account, please <a href="mailto:hi@ziltag.com">contact us</a>.</p>
    <hr style="box-sizing: border-box;">
    <div
      class="comment-notification__footer"
      style="font-size: 12px; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; color: rgba(0, 0, 0, 0.54); height: 60px; margin: 0; padding: 0; border: 0;">
      <span class="comment-notification__footer-left" style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: middle; box-sizing: border-box; margin: 0; padding: 0; border: 0;">© Ziltag Inc., 2015. All Rights Reserved.</span>
      <span
        class="comment-notification__footer-right"
        style="font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: middle; box-sizing: border-box; margin: 0; padding: 0; border: 0; margin-left: 20px;">Bring Ziltag to your website! Join
        <%= link_to 'Ziltag Pro', root_url, style: 'font-size: normal; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; box-sizing: border-box; color: #4A90E2; margin: 0; padding: 0; border: 0;' %>.</span>
    </div>
  </div>
  </div>
</div>