<p>
  <strong><%= Admin::User.human_attribute_name(:email) %>:</strong>
  <%= @admin_user.email %>
</p>

<p>
  <strong><%= Admin::User.human_attribute_name(:username) %>:</strong>
  <%= @admin_user.username %>
</p>

<p>
  <strong><%= Admin::User.human_attribute_name(:avatar) %>:</strong>
  <%= link_to image_tag(@admin_user.avatar.thumb), @admin_user.avatar_url %>
</p>

<hr>

<%= link_to t('scaffold.edit'), edit_admin_user_path(@admin_user), class: 'btn btn-default' %>
<%= link_to t('scaffold.back'), admin_users_path, class: 'btn btn-default' %>
