<aside class="aside" data-layout="aside">
  <ul class="list-unstyled aside_list">
    <li>
      <%= link_to root_path do %>
        <i class="fa fa-home"></i> <%= t('推薦內容') %>
      <% end%>
    </li>
    <li>
      <%= link_to fa('picture-o', t('樂貼牆')), photos_path, id: 'photos_link' %>
    </li>
    <li>
      <%= link_to current_user do %>
        <i class="fa fa-folder"></i> <%= t('我的樂貼') %>
      <% end if user_signed_in? %>
    </li>
    <li>
      <%= link_to collecting_user_path(current_user) do %>
        <i class="fa fa-star"></i> <%= t('我的收藏') %>
      <% end if user_signed_in? %>
    </li>
    <li>
      <a href="#"><i class="fa fa-eye"></i> <%= t('瀏覽記錄') %></a>
    </li>
  </ul><!-- /.aside_list -->

  <section class="aside_section">
    <h2 class="list_title"><%= t('熱門話題') %></h2>
    <ul class="list-unstyled aside_list">
      <% Tag.top_5.each do |tag| %>
        <li>
          <%= link_to "##{tag.name}", root_path(q: tag.name) %>
        </li>
      <% end %>
    </ul><!-- /.aside_list -->
  </section>
  <section class="aside_section">
    <h2 class="list_title"><%= t('熱門用戶') %></h2>
    <ul class="list-unstyled aside_list">
      <% User.hot_users.limit(3).each do |user|  %>
        <li>
          <%= link_to user do %>
            <%= image_tag user.avatar.thumb.url, width: 24, class: 'profile_image' %> <%= user.username %>
          <% end %>
        </li>
      <% end %>
    </ul><!-- /.aside_list -->
  </section>
  <footer class="aisde_footer">
    <p class="para">&copy; 2015 Ziltag</p>
    <ul class="list-unstyled list-inline footer_list">
      <li>
        <a href="https://ziltag.uservoice.com/" target="_blank"><%= t('使用說明') %></a>
      </li>
      <li>
        <%= link_to t('使用條款'), term_of_service_path %>
      </li>
      <li>
        <%= link_to t('隱私'), privacy_policy_path %>
      </li>
    </ul>
  </footer><!-- /.aisde_footer -->
</aside><!-- /.aside -->
