<aside class="aside" data-layout="aside">
  <ul class="list-unstyled aside_list">
    <li>
      <%= link_to root_path do %>
        <i class="fa fa-home"></i> 推薦內容
      <% end%>
    </li>
    <li>
      <%= link_to fa('picture-o', '以圖找貼'), photos_path, id: 'photos_link' %>
    </li>
    <li>
      <%= link_to current_user do %>
        <i class="fa fa-folder"></i> 我的樂貼
      <% end if user_signed_in? %>
    </li>
    <li>
      <%= link_to collecting_user_path(current_user) do %>
        <i class="fa fa-star"></i> 我的收藏
      <% end if user_signed_in? %>
    </li>
    <li>
      <a href="#"><i class="fa fa-eye"></i> 瀏覽記錄</a>
    </li>
  </ul><!-- /.aside_list -->

  <section class="aside_section">
    <h2 class="list_title">熱門話題</h2>
    <ul class="list-unstyled aside_list">
      <li>
        <a href="#"># Disney</a>
      </li>
      <li>
        <a href="#"># Frozen</a>
      </li>
      <li>
        <a href="#"># NBA</a>
      </li>
      <li>
        <a href="#"># Startup</a>
      </li>
      <li>
        <a href="#"># Oscar</a>
      </li>
      <li>
        <a href="#"># Oprah</a>
      </li>
    </ul><!-- /.aside_list -->
  </section>
  <section class="aside_section">
    <h2 class="list_title">熱門用戶</h2>
    <ul class="list-unstyled aside_list">
      <% User.hot_users.limit(3).each do |user|  %>
        <li>
          <%= link_to user do %>
            <%= image_tag user.avatar.thumb.url, width: 24, class: 'profile_image' %> <%= user.username %>
          <% end %>
        </li>
      <% end %>
    </ul><!-- /.aside_list -->
  </section>
  <footer class="aisde_footer">
    <p class="para">&copy; 2015 Ziltag</p>
    <ul class="list-unstyled list-inline footer_list">
      <li>
        <a href="#">關於</a>
      </li>
      <li>
        <a href="#">條款</a>
      </li>
      <li>
        <a href="#">隱私</a>
      </li>
    </ul>
  </footer><!-- /.aisde_footer -->
</aside><!-- /.aside -->
