<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <title>Ziltag 後台管理系統</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'admin/shared/navbar' %>
  <div class="container-fluid">
    <%= admin_flash_messages %>
    <div class="col-sm-2">
      <ul class="nav nav-pills nav-stacked">
        <%= link_li_for Admin::User %>
        <%= link_li_for Admin::Photo %>
        <%= link_li_for Admin::Ziltagging %>
        <%= link_li_for Admin::Post %>
        <%= link_li_for Admin::Comment %>
      </ul>
    </div>
    <div class="col-sm-10"><%= yield %></div>
  </div>
</body>
</html>