<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ziltag</title>
  <%= favicon_link_tag 'sticker.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_path} #{action_name}" %>">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%= render 'shared/header' %>
    <%= yield :before_main if content_for?(:before_main) %>
    <main class="mdl-layout__content">
      <%= content_for?(:main) ? yield(:main) : yield %>
    </main>
  </div>
</body>
</html>