<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ziltag</title>
  <%= favicon_link_tag 'sticker.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_path} #{action_name}" %>">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><%= link_to image_tag('logo.png'), root_path %></span>
        <div class="mdl-layout-spacer"></div>
        <% if user_signed_in? %>
        <button id="profile-menu" class="mdl-button mdl-js-button mdl-button--fab">
          <%= image_tag current_user.avatar.thumb.url %>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="profile-menu">
          <li class="mdl-menu__item"><%= t(:account) %></li>
          <li class="mdl-menu__item"><%= link_to t(:logout), destroy_user_session_path, method: :delete %></li>
        </ul>
        <% else %>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <%= link_to t(:login), new_user_session_path, class: 'mdl-navigation__link' %>
          <%= link_to t(:sign_up), new_user_registration_path, class: 'mdl-navigation__link' %>
        </nav>
        <% end %>
      </div>
    </header>
    <%= yield :before_main if content_for?(:before_main) %>
    <main class="mdl-layout__content">
      <%= content_for?(:main) ? yield(:main) : yield %>
    </main>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Ziltag Inc.</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#"><%= t(:about) %></a></li>
          <li><%= link_to t(:term_of_service), term_of_service_path %></li>
          <li><%= link_to t(:privacy_policy), privacy_policy_path %></li>
        </ul>
      </div>
      <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
          <li><%= link_to 'English', url_for(params.merge({locale: nil})) %></li>
          <li><%= link_to '日本語', url_for(params.merge({locale: :ja})) %></li>
          <li><%= link_to '中文', url_for(params.merge({locale: :'zh-TW'})) %></li>
        </ul>
      </div>
    </footer>
  </div>
</body>
</html>