<!DOCTYPE html>
<html>
<head>
  <title>Ziltag</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_path %>" data-action="<%= action_name %>">

  <%= render :partial => "/layouts/partials/header" %>
  
  
  
  
  <div class="container-fluid layout_fluid" data-layout="outer">
    
    <div class="fill_white" data-layout="outer_fill_white"></div>
    <div class="custom_header_line" data-layout="custom_header_line"></div>
    
    <div class="container" data-layout="inner">
      <div class="row">
        
        <div class="col-xs-2 col_left">
          <%= render :partial => "/layouts/partials/sidebar" %>
        </div>
        
        <div class="col-xs-10 col_right" data-layout="col_right">
        
          <% if notice %>
            <div class="alert alert-info"><%= notice %></div>
          <% end %>
          
          <% if alert %>
            <div class="alert alert-danger"><%= alert %></div>
          <% end %>
          
          <%= yield %>
          
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.container -->
  
  
  
  <%= yield :javascripts %>
</body>
</html>