<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ziltag</title>
  <%= favicon_link_tag 'sticker.png' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= content_for :head if content_for? :head %>
</head>
<body class="<%= "#{controller_path} #{action_name}" %>">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--white">
    <%= render 'shared/header' %>
    <% if alert %><div class="flash-message js-flash-message mdl-color--red-100 mdl-typography--headline"><%= alert %></div><% end %>
    <% if notice %><div class="flash-message js-flash-message mdl-color--blue-100 mdl-typography--headline"><%= notice %></div><% end %>
    <%= yield :before_main if content_for?(:before_main) %>
    <main class="mdl-layout__content">
      <%= content_for?(:main) ? yield(:main) : yield %>
    </main>
  </div>
</body>
</html>