<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ziltag</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_path} #{action_name}" %>">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><%= link_to image_tag('logo.png'), root_path %></span>
        <div class="mdl-layout-spacer"></div>
        <% if user_signed_in? %>
        <button id="profile-menu" class="mdl-button mdl-js-button mdl-button--fab">
          <%= image_tag current_user.avatar.thumb.url %>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="profile-menu">
          <li class="mdl-menu__item">Account</li>
          <li class="mdl-menu__item"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        </ul>
        <% else %>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <%= link_to 'Login', new_user_session_path, class: 'mdl-navigation__link' %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'mdl-navigation__link' %>
        </nav>
        <% end %>
      </div>
    </header>
    <main class="mdl-layout__content">
      <%= yield %>
    </main>
  </div>
</body>
</html>