<!DOCTYPE html>
<html>
<head>
  <title>Ziltag</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_path %>" data-action="<%= action_name %>">

  <%= render :partial => "/layouts/partials/header" %>
  
  <!--
  <p class="notice"><%#= notice %></p>
  -->
  
  <!--
  <p class="alert"><%#= alert %></p>
  -->
  
  
  <div class="container">
    <div class="row">
      
      <div class="col-xs-2">
        <%= render :partial => "/layouts/partials/sidebar" %>
      </div>
      
      <div class="col-sm-10">
        <%= yield %>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
  
  
  <script>
    $(function(){
    });
  </script>
</body>
</html>