<!DOCTYPE html>
<html>
<head>
  <title>Ziltag</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_path %>" data-action="<%= action_name %>" class="<%= controller_name %> <%= action_name %> <%= controller.send(:_layout) %>" <%= 'data-first-visit' if first_visit? %> <%= 'data-first-signed-in' if first_signed_in? %>>
  <%= render :partial => "/layouts/partials/header" %>
  <%= content_for?(:content) ? yield(:content) : yield %>
  <%= render :partial => "/partials/modals/post_ziltag_article_modal" %>
  <%= render 'shared/uservoice' %>
  <%= render :partial => "/partials/templates/handlebars" %>
</body>
</html>
