<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ziltag</title>
  <%= seo_meta_tags %>
  <%= stylesheet_link_tag    'landing', media: 'all' %>
  <%= javascript_include_tag 'landing' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="<%= controller_path %> <%= action_name %>">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><%= image_tag 'logo.png' %></span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <button class="mdl-button mdl-button--sign-up mdl-js-button mdl-js-ripple-effect">Sign up</button>
          <button class="mdl-button mdl-button--login mdl-js-button mdl-js-ripple-effect">Login</button>
        </nav>
      </div>
    </header>
    <main class="mdl-layout__content">
      <%= yield %>
    </main>
  </div>
</body>
</html>