<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ziltag - Join for free.</title>
    <%= render 'shared/meta' %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'mobile', media: 'all' if Rails.env.production? %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'mobile' %>
  </body>
</html>